Repository crazy-max/docker-packaging, changes with the owners that .github/CODEOWNERS names for each.
All owners: @docker/packaging, @docker/compose-maintainers, @docker/ai-models-infra, @docker/build, @docker/engine

.github/CODEOWNERS:

*                    @docker/packaging
pkg/compose/*        @docker/compose-maintainers
pkg/model/*          @docker/ai-models-infra
pkg/buildx/*         @docker/build
pkg/containerd/*     @docker/engine
pkg/docker-cli/*     @docker/engine
pkg/docker-engine/*  @docker/engine

[create-pull-request] automated change
  docker-bake.hcl
  pkg/credential-helpers/Dockerfile
Owners: @docker/packaging

[create-pull-request] automated change
  docker-bake.hcl
  pkg/compose/Dockerfile
  pkg/credential-helpers/Dockerfile
  pkg/docker-cli/Dockerfile
  pkg/docker-engine/Dockerfile
  pkg/model/Dockerfile
Owners: @docker/packaging, @docker/compose-maintainers, @docker/engine, @docker/ai-models-infra

[create-pull-request] automated change
  docker-bake.hcl
  pkg/cagent/Dockerfile
  pkg/model/Dockerfile
Owners: @docker/packaging, @docker/ai-models-infra

[create-pull-request] automated change
  docker-bake.hcl
  pkg/agent/Dockerfile
  pkg/compose/Dockerfile
  pkg/credential-helpers/Dockerfile
  pkg/docker-cli/Dockerfile
  pkg/docker-engine/Dockerfile
Owners: @docker/packaging, @docker/compose-maintainers, @docker/engine

[create-pull-request] automated change
  docker-bake.hcl
  pkg/containerd/Dockerfile
Owners: @docker/packaging, @docker/engine
